# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data & Database
Data/
# mlruns/
!notebooks/mlflow.db
.trash/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
